<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список факультетов</title>
</head>
<body>
<h1>Список факультетов</h1>
<a th:href = "@{/addFac}">Добавить факультет</a>
<table border="1" cellpadding="10px">
    <thead>
    <tr>
        <th>Код факультета</th>
        <th>Наименование</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${flist}">
        <td th:text="${emp.id}">id</td>
        <td th:text="${emp.facul}">facul</td>

        <td><a th:href="@{/deleteFbyid/{id}(id=${emp.id})}"
               class="btn btn-danger">
            </i> Удалить</a>


            <a th:href="@{/updateFbyid/{id}(id=${emp.id})}"
               class="btn btn-success">
                </i> Изменить</a></td>
    </tbody>
</table>
<a th:href = "@{/login}">Выйти</a>
</body>
</html>