<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить анкету</title>
</head>
<body>
<h1>Изменение анкеты</h1>
<form action="#" th:action="@{/saveanc}" th:object="${an}"
      method="POST">
    <br><input type="text" th:field="*{id}" required class="form-control mb-4 col-4"></br>

    <br><input type="text" th:field="*{antext}" required class="form-control mb-4 col-4"></br>

    <br><button type="submit" class="btn btn-success">Изменить</button></br>
</form>
<a th:href = "@{/showAncets}">Назад</a>
</body>
</html>